.getServer{
    text-align: center;
    width: 25%;
    margin: 20px 50px 50px 600px;
}
.getServer h3{
    color: #0d6efd;
}
table, th, td {
    border:1px solid grey;
    
}
table{
    width: 100%;
}
.deleteServerByid{
    text-align: center;
    width: 25%;
    margin: 100px 50px 10px 600px;
    padding: 40px;
}
.deleteServerByid h3{
    color: green;
}

#noresult h5{
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 25%;
    margin: 20px 50px 50px 600px;
}

#found h5{
    color: green;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 25%;
    margin: 20px 50px 50px 600px;
}