<div>
    <h1>Get Server By Id</h1>
    <form (ngSubmit)="getServerByid()">
        <label>Enter Id: </label>
        <input type="text" name="id" placeholder="id">
        <input type="submit" value="Get Server By Id">
    </form>

</div>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>language</th>
            <th>framework</th>
        </tr>
        <tr *ngFor="let e of info">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.language}}</td>
            <td>{{e.framework}}</td>
        </tr>
    </table>
</div>


