<div class="getServerByid">
    <h3>Get Server By Id</h3>
    <hr>
    <form (ngSubmit)="getServerByid()">
        
        <input type="text" name="id" placeholder=" Enter Id" class="form-control" [(ngModel)]="serverInfo.id">
        <br>
        <button class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class="getServer" [hidden]="!showresult" >
        <h3>Search Result</h3>
        <hr>
        <table>
            <tr *ngFor="let e of info | keyvalue : keepOrder">
                <th>{{e.key}}</th>
                <td>{{e.value}}</td>
                
            </tr>
        </table>
        <br>
    </div>
    <div id="noresult" [hidden]="!noresult"><P>No result found</P></div>
    <br><br>
    <button class="btn btn-success" [routerLink]="'/index'" (click)="back()">Back To Home</button>

</div>