<form class="addServer" (ngSubmit)="onClickSubmit()">
    <h3>Add Server</h3>
    <div [hidden]="!successmessage">
        <h5>Data Added Successfully</h5>
    </div>
    <hr>
    <br>
    <input type="text" name="id" placeholder="id" class="form-control" [(ngModel)]="serverInfo.id">
    <br />
    <input type="text" name="name" placeholder="name" class="form-control" [(ngModel)]="serverInfo.name">
    <br />
    <input type="text" name="language" placeholder="language" class="form-control" [(ngModel)]="serverInfo.language">
    <br />
    <input type="text" name="framework" placeholder="framework" class="form-control" [(ngModel)]="serverInfo.framework">
    <br />
    <button class="btn btn-primary" [routerLink]="'/index'">Back</button>
    <button class="btn btn-primary">Submit</button>
</form>