<div class="getServerByName">
    <h3>Get Server By Name</h3>
    <hr>
    <form (ngSubmit)="getServerByName()">
        
        <input type="text" name="name" placeholder=" Enter name" class="form-control" [(ngModel)]="serverInfo.name">
        <br>
        <button class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class="getServer" [hidden]="!showresult" >
        <h3>Search Result</h3>
        <hr>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Language</th>
                <th>Framework</th>
            </tr>
            <tr *ngFor="let e of info">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.language}}</td>
                <td>{{e.framework}}</td>
            </tr>
        </table>
        <br>
    </div>
    <div id ="noresult" [hidden]="!noresult"><P>No result found</P></div>
    <br><br>
    <button class="btn btn-success" [routerLink]="'/index'" (click)="back()">Back To Home</button>

</div>