.index{
    text-align: center;
    width: 50%;
    margin: 150px 50px 50px 400px;
    
}
.index button{
    margin: 15px;
    font-size: 25px;
}

.index h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}