<div class="index">
    <h3><u>Home Page</u></h3>
    <br>
    <button class="btn btn-success" [routerLink]="'/addServer'">Add Server</button>
    <button class="btn btn-primary" [routerLink]="'/getServsrs'">Get Servers</button>
    <button class="btn btn-warning" [routerLink]="'/getServerByid'">Get Server By ID</button>
    <br><br>
    <button class="btn btn-info" [routerLink]="'/getServerByid'">Get Server By Name</button>
    <button class="btn btn-danger" [routerLink]="'/getServerByid'">Delete Server</button>
 </div>