<div class="getServer">
    <h3>Get Data From Server</h3>
    <hr>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Language</th>
            <th>Framework</th>
        </tr>
        <tr *ngFor="let e of info">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.language}}</td>
            <td>{{e.framework}}</td>
        </tr>
    </table>
    <br>
    <button class="btn btn-success" [routerLink]="'/index'" (click)="back()">Back To Home</button>
</div>